<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="e380sdk+xmind3" sequenceNumber="11">
<locations>
<location path="D:\Program Files\xmind" type="Profile"/>
<location path="D:\dev\eclipse-platform-3.8.2" type="Profile"/>
</locations>
</target>